<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>forum de pergunta</title>
</head>
<body>
    <nav class="navbar navbar-light bg-primary">
        <a href="/" class="navbar-brand">
        <img src="/img/senai-logo-0.png" alt="">
        </a>
    </nav>
    
    <div class="container">
<div class="card" id="formulario-perguntar">
    <div class="card-header">
        <h3>Questionario</h3>
        <hr>
    </div>
    <div class="card-body">
        <form>
            <label >titulo</label>
            <input type="text" placeholder="titulo "  class="form-control">
            <label >descriçao</label>
            <textarea placeholder="escreva aqui sua duvida" class="form-control"></textarea>

            <!--<textarea name="" id="" cols="30" rows="10"></textarea> -->
            <br>
            <button class="btn btn-primary">perguntar</button>
        </form>

    </div>

</div>




        
       
    </div>"
</body>
<!--https://getbootstrap.com.br/docs/4.1/getting-started/download/-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>